.button {
    font-size: 80%;
}

.button button {
    border: none;
    margin: 0;
    height: 30px;
    width: 60px;
    text-align: center;
    font: inherit;
    letter-spacing: 1px;
}

.button button:active {
    background-color: #295396;
    color: white;
}
