.event-container {
    min-width: 15vw;
    min-height: 80%;
    background-color: green;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    border: 1px solid black;
}