
.formikInnerBlock {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
}

.formikInnerBlock span{
    width: 100%;
    display: block;
    margin-right: 50px;
}

.formikBlockTime {
    display: flex;
    flex-direction: row;
}

.formikInnerBlock input{
    display: block;
    width: 170px;;
    border: 1px solid black;
    border-radius: 5px;
}

.formikInnerBlockTime {
    width: 16vw;
    display: flex;
    justify-content: space-between;
}

.formikInnerBlockTime input{
    display: block;
    width: 6vw;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}


.formikBlockButton{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}
.formikBlockButton button{
    display: block;
    margin: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.error {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -50px;
    right: 20px;
    color: red;
}

@media screen and (max-width: 600px) {

    .formikBlock {
        width: 100%;
        align-items: center;
    }

    .formikInnerBlock {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .formikInnerBlock span {
        width: 30%;
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .formikInnerBlock input {
        width: 188px;
        margin-right: 5px;
    }

    .error {
        font-size: 10px;
        right: 37px;
    }
}
