/*
.container {
    position:fixed;
    min-width: 30vw;
    min-height: 60vh;
    background: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
*/

.formikWrapper {
    width: 100%;
  /*  min-height: 55vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* border: 1px solid gold;*/
}

.formikBlock{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
   /* border: 1px solid red;*/
}

.formikInnerBlock {
    display: flex;
    flex-direction: row;
   /* border: 1px solid black;*/
    margin: 5px 0 5px 0;
}

.formikInnerBlock span{
    display: block;
    margin-right: 50px;
}

.formikBlockTime {
    display: flex;
    flex-direction: row;
}

.formikInnerBlock input{
    display: block;
    width: 170px;;
    border: 1px solid black;
    border-radius: 5px;
}

.formikInnerBlockTime {
    width: 16vw;
    display: flex;
    justify-content: space-between;
    /* margin-left: 3vw;*/
   /* border: 1px solid green;*/
}


.formikInnerBlockTime input{
    display: block;
    width: 6vw;
}


.formikBlockButton{
    display: flex;
    width: 100%;
  /*  border: 1px solid #96417b;*/
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}
.formikBlockButton button{
    display: block;
    margin: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.error {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -50px;
    right: 50px;
    color: red;
    border: 1px solid black;
}