table {
    border-collapse: collapse; /* Отображать двойные линии как одинарные */
    min-width: 70vw;
    font-size: 10px;
}

th {
    text-align: center; /* Выравнивание по левому краю */
    width: 10vw;
    height: 6vw;
    border: 1px solid black;
}


td {
    width: 10vw;
    height: 6vw;
    border: 1px solid black; /* Параметры границы */
     /* Поля в ячейках */
    vertical-align: top;
    align-items: end;

}

